{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Agence Lorem Ipsum</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam vitae quibusdam veritatis laborum quod deserunt ipsa ea quidem fugiat accusantium.</p>
</div>
{% endblock %}
